<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://webpanel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webpanel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebPanel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebPanel</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mlorenck.database.windows.net,1433;Initial Catalog=ZIM;Persist Security Info=False;User ID=ZIM;Password=!@#QWEasd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:mlorenck.database.windows.net,1433;Initial Catalog=ZIM;Persist Security Info=False;User ID=ZIM;Password=!@#QWEasd;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebPanel.Models.ApplicationDbContext, WebPanel" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureZIM" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mlorenck.database.windows.net,1433;Initial Catalog=ZIM;Persist Security Info=False;User ID=ZIM;Password=!@#QWEasd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:mlorenck.database.windows.net,1433;Initial Catalog=ZIM;Persist Security Info=False;User ID=ZIM;Password=!@#QWEasd;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebPanel.Services.Dao, WebPanel.Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureZIM-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mlorenck.database.windows.net,1433;Initial Catalog=ZIM;Persist Security Info=False;User ID=ZIM;Password=!@#QWEasd;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mlorenck.database.windows.net,1433;Initial Catalog=ZIM;Persist Security Info=False;User ID=ZIM;Password=!@#QWEasd;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>